@font-face {
    font-family: "Ubuntu";
    src: url("Ubuntu-R.ttf");
}
@font-face {
    font-family: "Ubuntu";
    src: url("Ubuntu-B.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Ubuntu";
    src: url("Ubuntu-RI.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Ubuntu";
    src: url("Ubuntu-BI.ttf");
    font-weight: bold;
    font-style: italic;
}
* { 
    font-family: "Ubuntu";
}